
body {
  background: black;
  color: white;
}

#Field {
    font-size: 13px;
    font-weight: bold;
    font-family: courier;
    width: 30px;
    height: 30px;  
}


#FieldLine {
  height: 30px;
  width: 100%;
  }

#FieldSurrounder {
    width: 30px;
    height: 30px
  }
  
#Field1 {
    font-size: 13px;
    font-weight: bold;
    font-family: courier;
    width: 30px;
    height: 30px; 
    }

#Field2 {
    font-size: 13px;
    font-weight: bold;
    font-family: courier;
    width: 30px;
    height: 30px; 
    border-radius: 15px;
  }

#Field3 {
    font-size: 13px;
    font-weight: bold;
    font-family: courier;
    width: 30px;
    height: 30px; 
    border-radius: 10px;
  }

#Field4 {
    font-size: 13px;
    font-weight: bold;
    font-family: courier;
    width: 30px;
    height: 30px; 
    border-radius: 10px;
  }

#errorbar {
  background: rgb(20,20,20);
  position: fixed;
  top: auto;
  bottom: 0px;
  }